* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header,
.footer {
    height: 20vh;
    width: 100vw;
    background-color: slategrey;
}
.header {
    display: flex;
    align-items: flex-end;
}
.menuContainer {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.menuContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContainer {
    grid-column: 2/3;
}
.productContainer {
    grid-column: 3/4;
}
.productsBtn {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.productContainer:hover .products {
    display: block;
}
.products {
    display: none;
    position: absolute;
    top: 20vh;
    width: inherit;
    background-color: coral;
    border: 1px solid black;
}
.products li {
    text-decoration: none;
    list-style: none;
    width: inherit;
    padding: 4px 16px;
    border: 1px solid black;
}
.products li:hover {
    filter: invert(100%);
}
.companyContainer {
    grid-column: 4/5;
}
.companyBtn {
    background-color: transparent;
    width: inherit;
    border: none;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}
.complist {
    display: none;
    position: absolute;
    top: 20vh;
    width: inherit;
    background-color: coral;
    border: 1px solid black;
}
.complist li {
    text-decoration: none;
    list-style: none;
    width: inherit;
    padding: 4px 32px;
    border: 1px solid black;
}
.complist li > button {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.complist li:hover {
    filter: invert(100%);
}
.highlight {
    display: block;
    border: 3px solid greenyellow;
}
.athletesContainer {
    grid-column: 5/6;
}
.body {
    height: 60vh;
    min-height: 480px;
    width: 100vw;
    background-color: darkslategrey;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
}
.nav > li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 3px;
    margin-right: 4px;
}
.nav > li > button {
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}
.nav button > img {
    height: 40px;
}
.nav > li > label {
    padding: 10px 0 10px 10px;
    flex-grow: 1;
}
.nav > li > button:hover {
    filter: invert(100%);
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
}
.nav > li:hover label {
    font-style: italic;
    color: white;
    cursor: pointer;
    margin-right: -1px;
}
.sliderContainer {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}
.backC,
.forwardC {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back,
.forward {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: inherit;
    flex-grow: 1;
}
.back > img {
    width: inherit;
    transform: rotate(-90deg);
}
.forward > img {
    width: inherit;
    transform: rotate(90deg);
}
.back:hover > img,
.forward:hover > img {
    filter: invert(100%);
    cursor: pointer;
}
.middle {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-rows: 9fr 1fr;
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.display > img {
    height: calc(60vh*.9);
}
.dots {
    display: flex;
    justify-content: center;
}
.dots > div {
    width: 40px;
    margin: 10px;
}
.dots > div::after {
    content: "";
    border: 5px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    margin-left: 5px;
    margin-top: 1px;
}
.full::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    margin-left: 5px;
    margin-top: 1px;
}
.dots > div:hover::after {
    filter: invert(100%);
    cursor: pointer;
}